/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: #000000e1;
    color: white;
    font-family:"Open Sans", sans-serif;
}

ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.flex{
    display: flex;
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.pink-color{
    color: #ff00ea;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Header Styling starts*/
.nav-bar{
    height: 15vh;
}

nav .list {
    gap: 2rem;
}

.lang-btn-div{
    margin-right: 10px;
    cursor: pointer;
}

.nav-btns div .lang-btn{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}
.nav-btns .lang-btn-div img{
    position: relative;
    top:-5px;
    cursor: pointer;
}

.contact-btns-div img{
    position: relative;
    left:25px;
    z-index: 1;
    cursor: pointer;

}
.contact-btn{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    z-index: 2;
    cursor: pointer;
}
/* Header Styling Ends*/

/* section landing page Styling starts*/

.landing-section{
    position: relative;
    height:600px;
}

.landing-section-text{
    padding-top: 50px;
    width: 59rem;
}

.landing-section-text h1{
    font-size: 5rem;
    font-weight: normal;
    line-height: 1.3;
    margin-bottom: 1.2rem;
}

.landing-section-text h1 span{
    font-weight: bold;
}

.secondary-heading {
    max-width: 45%;
    font-size: 14px;
    color: rgb(153, 153, 153);
    margin-bottom: 3.5rem;
}


.get-started-btn-div{
    margin-bottom: 4rem;
}
.get-started-btn-div [alt="btn-pink-bg"]{
    cursor: pointer;
}
.get-started-btn-div .get-started-btn{
    position: relative;
    left:-30px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    z-index: 1;
    cursor: pointer;
}

.get-started-btn-div [alt="RightArrow"]{
    margin-left: -20px;
    width: 40px;
}

.stats{
    gap: 2rem;
}

.left-stats span, .right-stats span{
    font-size: 2rem;
    font-weight: 600;
}

.left-stats p, .right-stats p{
    color: rgb(236, 236, 236);
    font-size: .8rem;
    margin-left: 12px;
}


.landing-section .back-cards{
    position: absolute;
    width: 52rem;
    right: 120px;
    top:-70px;
}
.landing-section .front-cards{
    position: absolute;
    width: 50rem;
    right: -100px;
    top:-20px;
}

/* section landing page Styling Ends*/

/* section-logo  Styling starts*/
.logo-section {
    background-color: #333;
}

.images-wrapper{
    padding: 55px 15px;
    justify-content: center;
    gap: 9rem;
}

/* section-logo  Styling Ends*/

/* Feature-section  Styling Starts*/

.features-container{
    padding: 90px 15px;
}

.features-container .text .heading-text{
    font-size: 3.5rem;
    flex-basis: 50%;

}

.features-container .text .heading-text span{
    font-weight: bold;
}

.features-container .text .description {
    color: rgb(153, 153, 153);
    flex-basis: 27%;
}

.cards{
    margin-top: 9rem;
    gap: 2rem;
    justify-content: center;
}

.cards .box {
    text-align: center;
    border: 1px solid #777;
    border-image: linear-gradient(to bottom right, #fff, #333) 1;
    width: 300px;
    height: 300px;
    background-color: #333;
}

.cards .box > img{
    width: 120px;
    padding: 2.8rem 0;
}

.cards .box > p{
    font-size: 1.2rem;
}

.cards .box-2{
    transform: translateY(-40px);
    background-image: linear-gradient(
        to right bottom,
        #333 , #777
    );
    border: 2.2px solid;
    border-image: linear-gradient(to bottom right, #fff, #333) 1;
    
}

/* Feature-section  Styling Ends*/

/* Card-choices-section  Styling STARTS*/
.card-choice-section{
    background-color: #fff;
    color:black;
    padding-top: 6rem;
}

.wrapper{
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.wrapper h3{
    font-size: 3.5rem;
    max-width: 60%;
    font-weight: normal;
    margin-bottom: 3rem;
}
.wrapper h3 span{
    font-weight: bold;
}

.wrapper p{
    max-width: 40%;
    font-size: 14px;
    line-height: 1.5;
}

.wrapper img{
    margin-top: -28px;
    max-width: 80%;
}

/* Card-choices-section  Styling Ends*/

/* Customer-reviews-section  Styling starts*/
.customer-reviews-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.customer-section-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.customer-section-text h3{
    font-size: 3.5rem;
    max-width: 49rem;
    font-weight: normal;
    line-height: 1.3;
    margin-bottom: 3rem;
}
.customer-section-text h3 span{
    font-weight: bold;
}
.customer-section-text p{
    max-width: 30rem;
    color: rgb(153, 153, 153);
    margin-bottom: 5rem;
}


.grid-reviews{
    display: grid;
    grid-template-columns: repeat(2, minmax(50%,1fr));
    row-gap: 40px;
    column-gap: 40px;
}

.grid{
    border: 1px solid #777;
    border-image: linear-gradient(to bottom, #fff, #333) 1;
    background-color: #333;
    padding: 1.2rem;
    max-width: 27rem;
}

.grid > img{
    width: 9rem;
    margin-bottom: 20px;
}
.grid p{
    color: rgb(211, 211, 211);
    font-size: 14px;
    margin-bottom: 20px;
}

.grid .grid-reviews .reviewr strong{
    font-size: 13px;
}
.grid  .location{
    font-size: 12px;
    font-weight: 400;
    color: rgb(211, 211, 211);
}

.grid-1{
    background-image: linear-gradient(
        to right bottom,
        #333 , #777
    );
    border: 2.2px solid;
    border-image: linear-gradient(to bottom right, #fff, #333) 1;
}

/* Customer-reviews-section  Styling Ends*/

/* Get-Started-Now-Section  Styling starts*/
.get-started-section{
    padding-top: 6rem;
    padding-bottom: 6rem;
    position: relative;
}
.get-started-section-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 10;
}
.get-started-section-text h3{
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 4rem;
}
.get-started-section-text h3 span{
    color: rgb(6, 3, 27);

}
.get-started-section-text .get-started-btn{
    font-size: 1.8rem;
    margin-left: -20px;
}
.get-started-section-text .arrow{
    width: 50px;
}
.get-started-section-text .btn-pink-bg{
    width: 5rem;
}

.bg-back{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
}
.bg-front{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 3;
}

.bg-left{
    position: absolute;
    left: 0;
    z-index: 4;
    top: -.9rem;
}
.bg-right{
    position: absolute;
    z-index: 4;
    right: 0;
    top: 2.5rem;

}


/* Get-Started-Now-Section  Styling Ends*/

/* Footer starts here  */
footer{
    margin-top: 6rem;
}
.footer-container{
    padding-bottom: 4rem;
}
.footer-container ul{
    font-size: 1.3rem;
    gap: 2rem;
    margin-left: 15rem;
}

/* Footer Ends Here  */