*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* --------nav bar CSS---------  */
body{
    background-color: #F0F4F5;
    overflow: hidden;
}
nav {
    margin: 0 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li{
    margin-right: 50px;
    font-weight: 600;
}

nav ul li:first-child{
    color: green;
}

.menu-icon{
    display: none;
}
.burger-icon{
    width: 35px;
    height: 5px;
    display: block;
    background-color: rgba(0, 0, 0, 0.815);
    border-radius: 10px;
    margin-bottom: 5px;
}


/* ------------main body CSS-------- */
section{
    display: flex;
    align-items: center;
    position: relative;
    height: 75vh;
}

section > div {
    width: 50%;
}

.left-text{
    margin-left: 7%;
}

.left-text .topAngle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25px;
}

.left-text h1{
    font-size: 70px;
}

.left-text p{
    color: #808080;
    font-size: 18px;
    margin: 20px 0;
}

.left-text .bottomAngle {
    position: absolute;
    left: 48.3%;
}

.left-text .setTheScope{
    width: 40%;
    position: absolute;
    top: 40px;
    left: 13%;
    z-index: -1;
}

.left-text .mouse {
    position: absolute;
    width: 30px;
    left: 52.5%;
    top: 77%;
}

.left-text button {
    color: white ;
    background-color: green;
    padding: 15px 40px;
    border: none;
    border-radius: 40px;
    font-size: 25px;
    cursor: pointer;
}

.greenBox{
    position: absolute;
    right: 0;
    top: 2rem;
    width:34rem;
    z-index: -1;

}

.orangeBox{
    position: absolute;
    right: 0;
    top: 6rem;
    width:29rem;
    z-index: -1;
}

.doctor{
    position: absolute;
    height: 40rem;
    right: 0;
    top: -38px;
}


@media screen and (max-width:1146px){
    section > div{
        width: 40%;
    }
    .left-text h1{
        font-size: 45px;
    }
    
    .left-text p{
        font-size: 17px;
    }
    .left-text .bottomAngle {
        left: 40%;
    }
    
    .left-text .setTheScope{
        width: 30%;        
    }
    
    .left-text .mouse {
        width: 30px;
        left: 43%;
        top: 80%;
    }
}
@media screen and (max-width:999px){
    .greenBox{
        right: 0;
        top: 2rem;
        width:25rem;
        z-index: -1;
    
    }
    
    .orangeBox{
        top: 4rem;
        width:22rem;
        z-index: -1;
    }
    
    .doctor{
        height: 35rem;
        right: 0;
        top: -38px;
    }
    .left-text .bottomAngle {
        left: 40%;
        top: 70%;
        
    }
    
    .left-text .mouse {
        width: 30px;
        left: 43%;
        top: 80%;
    }
}
@media screen and (max-width:868px) {
    section > div{
        min-width: 30%;
    }
    .menu-icon{
        display: block;
    }
    .left-text .setTheScope{
        width: 30%;  
        top: 7rem;      
    }
    .left-text h1{
        font-size: 30px;
    }
    nav ul{
        display: none;
    }
    
    .left-text p{
        font-size: 16px;
    color: #3b3b3b;
    font-weight: 500;

    }
    .left-text button {
        padding: 15px 20px;
        border: none;
        font-size: 18px;
    }
    
    .greenBox{
        right: 0;
        top: 2rem;
        width:20rem;
    
    }
    
    .orangeBox{
        top: 4rem;
        width:17rem;
        z-index: -1;
    }
    
    .doctor{
        height: 30rem;
        right: 0;
        top: -38px;
    }
    .left-text .topAngle, .left-text .bottomAngle{
        
        width: 18px;
    }
    .left-text .bottomAngle {
        left: 40%;
        top: 63%;
        
    }
    
    .left-text .mouse {
        width: 30px;
        left: 43%;
        top: 68%;
    }
}

@media screen and (max-width:620px) and (min-width:450px) {
    section > div{
        min-width: 13rem;
    }
    
    .left-text h1{
        font-size: 20px;
    }
    
    .left-text p{
        font-size: 16px;
    color: #3b3b3b;
    font-weight: 500;

    }
    .left-text button {
        padding: 10px 10px;
        border: none;
        font-size: 13px;
    }
    
    .greenBox{
        right: 0;
        top: 10rem;
        width:9rem;
    
    }
    
    .orangeBox{
        top: 11rem;
        width:8rem;
        z-index: -1;
    }
    
    .doctor{
        height: 17rem;
        right: 0;
        top: 7rem;
    }
    .left-text .topAngle, .left-text .bottomAngle{
        
        width: 18px;
    }
    .left-text .bottomAngle {
        left: 40%;
        top: 63%;
        
    }
    
    .left-text .mouse {
        width: 30px;
        left: 43%;
        top: 68%;
    }
}

@media screen and (max-width:450px) and (min-width:385px) {
    section > div{
        min-width: 13rem;
    }
    .left-text .setTheScope{
        width: 30%;  
        top: 8rem;      
    }
    
    .left-text h1{
        font-size: 18px;
    }
    
    .left-text p{
    font-size: 14px;
    color: #3b3b3b;
    font-weight: 500;

    }
    .left-text button {
        padding: 10px 10px;
        border: none;
        font-size: 13px;
    }
    
    .greenBox{
        right: 0;
        top: 9rem;
        width:10rem;
    
    }
    
    .orangeBox{
        top: 10rem;
        width:9rem;
        z-index: -1;
    }
    
    .doctor{
        height: 16rem;
        right: 0;
        top: 90px;
    }
    .left-text .topAngle, .left-text .bottomAngle{
        
        width: 18px;
    }
    .left-text .bottomAngle {
        left: 40%;
        top: 63%;
        
    }
    
    .left-text .mouse {
        width: 30px;
        left: 43%;
        top: 68%;
    }
}

@media screen and (max-width:385px) {
    section > .left-text{
        min-width: 20rem;
    }
    section > .right-text{
        width: 5rem;
    }
    .right-text{
        z-index: -1;
    }
    
    .left-text h1{
        font-size: 30px;
    }
    
    .left-text p{
    font-size: 20px;
    color: #3b3b3b;
    font-weight: 500;

    }
    .left-text button {
        padding: 15px 35px;
        border: none;
        font-size: 20px;
        position: relative;
        top: 4rem;
        left: 2.5rem;
    }
    
    .doctor , .orangeBox, .greenBox{
        display: none;
    }
    .left-text .topAngle, .left-text .bottomAngle{
        
        width: 18px;
    }
    .left-text .bottomAngle {
        left: 70%;
        top: 63%;
        
    }
    
    .left-text .mouse {
        width: 30px;
        left: 77%;
        top: 68%;
    }
}
