*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    color: #000000;
    font-family: "Orbitron" , sans-serif;
}


/* navbar section */
.container{
    max-width: 1080px;
    margin: auto;
    position: relative;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;
    flex-wrap: wrap;
}

/* logo  */
[alt="brand-logo"]{
    height: 40px;
    cursor: pointer;

}

/* list-items styling */
.list{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap:2rem;
}

.list-item{
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
}

.navbar-container div ul li:nth-child(1){
    font-size: 1.3rem;
    font-weight: 900;
    position: relative;
}
.navbar-container div ul li:nth-child(1)::before{
    content: "";
    width: 48px;
    height: 2px;
    position: absolute;
    top: 26px;
    left: 10px;
    background-color: #000000d0;
    border-radius: 20px;
}


/* button-group */
.button-group{
    display: flex;
    align-items: center;
}

.search-icon{
    margin-right: 7px;
}
.search-icon svg{
    height: 23px;
    width: 25px;
    cursor: pointer;

}

.nav-button{
    font-family: "poppins" , sans-serif;
    font-size: 1rem;
    color: #000000b9;
    padding: 3px 35px;
    border: 2.5px solid #000000b5;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}

/* <!-- Hero Banner Section --> */
.hero-container{
    position: relative;
    width: 100%;
}

.hero-container > span{
    position: absolute;
}

.square{
    top: 223px;
    left: 110px;
    z-index: -1;
}
.square > img{
    width: 300px;
}

.star{
    top:70px;
    right:50px;
}
.star > img{
    width:43px;
}

.hero-container > span:nth-child(3) >img{
    width: 35px;
}
.hero-container > span:nth-child(3){
    top:450px;
    left:470px;
}

.globe{
    top:20px;
    right:480px
}
.globe > img{
    width: 50px;
}

[alt="person-hero-iamge"]{
    margin-top: 40px;
    width: 350px;
}

/* hero-container-right */

.hero-container-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    max-width: 680px;
    top: 30%;
    right:0;
}

.hero-heading{
    font-size: 3em;
}

.hero-description{
    margin: 30px 60px;
    text-align: center;
    font-family: "Poppins";
    font-size: 0.8em;
    color: #5c5959;
}

.hero-container-right div:nth-child(3){
    margin: 50px 0 70px 0;
    display: flex;
    gap: 20px;
}

.button-email{
    font-size: 1rem;
    font-weight: 500;
    color: #5c5959;
    padding: 1px 16px;
    border: 2px solid #202020;
    border-radius:8px;
    background-color: transparent;
}

.button-join{
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    padding: 1px 16px;
    border: 2px solid #202020;
    border-radius:8px;
    background-color: #202020;
}


.contact-heading{
    font-family: "poppins" , sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #5c5959;
}

.icons{
    margin-top:10px;
    display: flex;
    gap: 10px;
}

.icons > span > img{
    width: 28px;
}

